.add-person{
    background-color: rgb(247, 247, 247);
}

.container{

    width: 60%;
    height: 70%;
    margin: auto;
    margin-top: 7vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;
}

.form-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.heading{
    text-align: left;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 17px;
}

.form-content{
    padding-top: 7vh;
    width: 70%;
    margin: auto;
}

.label{
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.input{
    width: 100%;
    height: 5vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.text-area{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.drop-down{
    width: 180%;
    height: 5vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.zip{
    height: 4vh;
    width: 90%;
}

.city-state{
    display: flex;
    justify-content: space-between;
   
}

.button-parent{
    display: flex;
    justify-content: flex-end;
}
.button{
    padding: 5vh 0;
}

.btn{
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    padding: 6px 40px;
    margin: 4px;
}